*{
    text-decoration: none;
}
body{
    background-color: rgb(78, 211, 255);
    
}
nav {
    height: 50px;
    background-color: #238cee;
    color: #000000;
    margin-bottom: 20px;
    }
    nav ul {
    list-style: none;
    margin-left: 300px;
    margin-right: 300px;
    padding: 5px;
    }
    nav li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 12px;
    }
    nav li:last-child {
    margin-right: 0;
    }
    nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    }
    nav a:hover {
    background-color: #929292;
    }
.tit{
    font-size: 50px; 
    font-family: 'Lobster', cursive;
    color: rgb(78, 78, 216);
    text-decoration: none;
}
.menu{
        text-align: center;
        align-items: center;
        height: fit-content;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: larger;
}

.cuadro{
    background-color: rgba(26, 35, 83, 0.808);
    border-radius: 15px;
    width: 800px;
    margin-left: 500px;
    margin-top: 25px;
}
.cuadro h1{
    font-family: sans-serif;
    color: rgb(36, 117, 90);
    font-size:25px;
    padding-left: 100px;
    padding-top: 15px;
}
.cuadro h2{
    font-family: sans-serif;
    color: rgb(36, 117, 90);
    font-size:20px;
    padding-left: 110px;
    padding-top: 15px;
}
.cuadro li{
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(96, 146, 80);
}

.cuadro #botones{
    margin-top: 10px;
    font-family: sans-serif;
    width: 600px;

}

form{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}
