
*{
    text-decoration: none;
}
body{
    background-color: rgb(78, 211, 255);
    
}
nav {
    height: 50px;
    background-color: #238cee;
    color: #000000;
    margin-bottom: 20px;
    }
    nav ul {
    list-style: none;
    margin-left: 300px;
    margin-right: 300px;
    padding: 5px;
    }
    nav li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 12px;
    }
    nav li:last-child {
    margin-right: 0;
    }
    nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    }
    nav a:hover {
    background-color: #929292;
    }
.tit{
    font-size: 50px; 
    font-family: 'Lobster', cursive;
    color: rgb(78, 78, 216);
    text-decoration: none;
}
.menu{
        text-align: center;
        align-items: center;
        height: fit-content;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: larger;
}
.xxx{
    display: absolute;
    margin-left: 400px;
    margin-right: 400px;
}
.emi{
    display: flexbox;
    position:absolute;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(26, 26, 78);
}
.chem{
    display: flexbox;
    position:absolute;
    text-align: right;
    right: 20%;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(26, 26, 78);
}
.imgg img{
    width: 550px;
    
}

.imgg{
    position: relative;
    margin-top: 200px;
    margin-left: 35%
}
