*{
    text-decoration: none;
}
body{
    background-color: rgb(78, 211, 255);
    
}
nav {
    height: 50px;
    background-color: #238cee;
    color: #000000;
    margin-bottom: 20px;
    }
    nav ul {
    list-style: none;
    margin-left: 300px;
    margin-right: 300px;
    padding: 5px;
    }
    nav li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 12px;
    }
    nav li:last-child {
    margin-right: 0;
    }
    nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    }
    nav a:hover {
    background-color: #929292;
    }
.menu{
        text-align: center;
        align-items: center;
        height: fit-content;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: larger;
}
.tit{
    text-decoration: none;
    font-size: 50px; 
    font-family: 'Lobster', cursive;
    color: rgb(78, 78, 216);
    text-decoration: none;
    text-align: center;
}
.formulario{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}